<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news"></ion-back-button>
    </ion-buttons>
    <ion-title>national</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-list-header>
            Recent News
          </ion-list-header>
          <ion-item *ngFor="let national of nationals?.articles; let i = index" [routerLink]="['/news/national',i]" routerLinkActive="router-link-active">
            <ion-avatar slot="start">
              <img [src]="national?.urlToImage" />
            </ion-avatar>
            <ion-label>
              <h2>{{ national.title }}</h2>
              <h3 color="danger">{{ national.source.name }}</h3>
              <p>{{ national.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
