<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/science"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ news?.author }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <img [src]="news?.urlToImage" />
          <ion-card-header>
            <ion-card-subtitle>{{ news?.description }}</ion-card-subtitle>
            <ion-card-title>{{ news?.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ news?.content }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
