<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news"></ion-back-button>
    </ion-buttons>
    <ion-title>health</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-list-header>
            Latest Health
          </ion-list-header>
          <ion-item *ngFor="let he of health?.articles; let i = index" [routerLink]="['/news/health',i]" routerLinkActive="router-link-active">
            <ion-avatar slot="start">
              <img [src]="he?.urlToImage" />
            </ion-avatar>
            <ion-label>
              <h2>{{ he?.title }}</h2>
              <h3 color="danger">{{ he?.source.name }}</h3>
              <p>{{ he?.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
