<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news"></ion-back-button>
    </ion-buttons>
    <ion-title>entertainment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-list-header>
            Latest Entertainment
          </ion-list-header>
          <ion-item
            *ngFor="let enter of entertainment?.articles; let i = index"
            [routerLink]="['/news/entertainment',i]"
            routerLinkActive="router-link-active"
          >
            <ion-avatar slot="start">
              <img [src]="enter?.urlToImage" />
            </ion-avatar>
            <ion-label>
              <h2>{{ enter?.title }}</h2>
              <h3>{{ enter?.source.name }}</h3>
              <p>{{ enter?.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
